<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
    <meta name="author" content="Rui Mao">
    <meta name="description" content="Portfolio">
    <meta name="keywords" content="palavras chave">
	  <title >RUI MAO</title>
    <link rel="icon" href="{% static 'portfolio/images/image.jpg' %}" type="image/x-icon" sizes="196x196"/>
</head>

<style>
   
</style>

<body>
    <header>
      <div>Rui Mao</div>
      <nav>
        <a href="{% url 'portfolio:home' %}">home</a>      
        <a href="">products</a>      
        <a href="">about</a>      
        <a href="">contact</a>      
      </nav>
    </header>
    
    <main>
        {% block main %}
        {% endblock main %}
    </main>
    
    <footer>ULHT, 2023</footer>
  </body>  