
*{
    font-family: 'Quantico', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgba(222, 221, 247, 0.541);
    
}

h1{
    text-align: center;
    font-size: x-large;
}

h1::first-letter{
    color: rgb(192, 50, 185);
    font-size: xx-large;
}


.main_img { 
    width: 50%;
    margin: auto;
    display: block;
    opacity: 0.9;
    
  }

  figure{
   
    text-align: center;
  }

  

#menu{
    text-align: center;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: rgba(166, 135, 179, 0.288);
    font-family: "Montserrat", sans-serif;
}

#menu a{
    float:none;
    color: #b95a5a;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 17px;
}

a[target=_blank]{
   background-color: none;
}

 a:hover {
    background-color: #ddd;
  }

  a:active{
    background-color: #dfd9d9;
  }

#quiz1{
    background-color: #e7e7e7d0;
}

#quiz2{
    background-color: #d3c5d8;
}
  
.quiz{
    background-color: rgb(218, 238, 255);
}
.table_info{
    border: 2px solid #5b3b8f;
    border-collapse: collapse;
}

.td_info{
    background-color: #d7b7e9;
    border: 2px solid #5b3b8f;
    border-collapse: collapse;
}

table{
    border-collapse: collapse;
    width: 100%;

}

th{
    background-color: #b495e5d7;
    padding: 8px;
    border-bottom: 2px solid #5b3b8f;
    width: 10%;
    text-align: center;
}
 td {
    padding: 6px;
    border-bottom: 2px solid #412174;
    width: 10%;
    text-align: center;
  }
  
  tr:nth-child(even){
    background-color: rgba(217, 211, 241, 0.795);
  }

  tr:hover {

    text-align: center;
    background-color: rgb(143, 144, 206);
    font-size: x-large;
    font-weight: 900;
}

input{
    
    display: block;
}

iframe{
    width: 70%;
    height: 300px;
    margin: auto;
    display: block;
    border: 0;
}

ul {
    list-style-type: "-> ";
  }

li::first-line{
    font-style: italic;
}
.poema{
    text-align: center;
}

footer {
    
    font-size: 12px;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #3b3030;
    text-align: center;
    

  }